--- 
http_interactions: 
- request: 
    method: get
    uri: http://wsdl-crt.cert.sabre.com/sabreXML1.0.00/usg/SessionCreateRQ.wsdl
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - W/"2437-1332860800000"
      Last-Modified: 
      - Tue, 27 Mar 2012 15:06:40 GMT
      Content-Type: 
      - application/xml
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.opentravel.org/OTA/2002/11" xmlns:tns="https://webservices.sabre.com/websvc" xmlns:eb="http://www.ebxml.org/namespaces/messageHeader" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext" targetNamespace="https://webservices.sabre.com/websvc">
        	<types>
        		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        			<xsd:import namespace="http://www.opentravel.org/OTA/2002/11" schemaLocation="SessionCreateRQRS.xsd"/>
        			<xsd:import namespace="http://www.ebxml.org/namespaces/messageHeader" schemaLocation="msg-header-2_0.xsd"/>
        			<xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/12/secext" schemaLocation="wsse.xsd"/>
        		</xsd:schema>
        	</types>
        	<message name="GetSessionCreateInput">
        		<part name="header" element="eb:MessageHeader"/>
        		<part name="header2" element="wsse:Security"/>
        		<part name="body" element="xsd1:SessionCreateRQ"/>
        	</message>
        	<message name="GetSessionCreateOutput">
        		<part name="header" element="eb:MessageHeader"/>
        		<part name="header2" element="wsse:Security"/>
        		<part name="body" element="xsd1:SessionCreateRS"/>
        	</message>
        	<portType name="SessionCreatePortType">
        		<operation name="SessionCreateRQ">
        			<input message="tns:GetSessionCreateInput"/>
        			<output message="tns:GetSessionCreateOutput"/>
        		</operation>
        	</portType>
        	<binding name="SessionCreateSoapBinding" type="tns:SessionCreatePortType">
        		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        		<operation name="SessionCreateRQ">
        			<soap:operation soapAction="OTA"/>
        			<input>
        				<soap:header message="tns:GetSessionCreateInput" part="header" use="literal"/>
        				<soap:header message="tns:GetSessionCreateInput" part="header2" use="literal"/>
        				<soap:body parts="body" use="literal"/>
        			</input>
        			<output>
        				<soap:header message="tns:GetSessionCreateOutput" part="header" use="literal"/>
        				<soap:header message="tns:GetSessionCreateOutput" part="header2" use="literal"/>
        				<soap:body parts="body" use="literal"/>
        			</output>
        		</operation>
        	</binding>
        	<service name="SessionCreateRQService">
        		<port name="SessionCreatePortType" binding="tns:SessionCreateSoapBinding">
        			<soap:address location="https://sws-crt.cert.sabre.com/"/>
        		</port>
        	</service>
        </definitions>

  recorded_at: Wed, 28 Mar 2012 03:06:19 GMT
- request: 
    method: post
    uri: https://sws-crt.cert.sabre.com/
    body: 
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="https://webservices.sabre.com/websvc" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:eb="http://www.ebxml.org/namespaces/messageHeader" xmlns:xlinx="http://www.w3.org/1999/xlink"><env:Header><eb:MessageHeader SOAP-ENV:mustUnderstand="1" eb:version="2.0"><eb:ConversationId>joe@example.com</eb:ConversationId><eb:From><eb:PartyId type="urn:x12.org:IO5:01">example.com</eb:PartyId></eb:From><eb:To><eb:PartyId type="urn:x12.org:IO5:01">webservices.sabre.com</eb:PartyId></eb:To><eb:CPAId><IPCC></eb:CPAId><eb:Service eb:type="sabreXML">Session</eb:Service><eb:Action>SessionCreateRQ</eb:Action><eb:MessageData><eb:MessageId>mid:20120327-230619@example.com</eb:MessageId><eb:RefToMessageId xsi:nil="true"/><eb:Timestamp>2012-03-27T23:06:19Z</eb:Timestamp></eb:MessageData></eb:MessageHeader><wsse:Security xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext"><wsse:UsernameToken><wsse:Username>7971</wsse:Username><wsse:Password>WS020212</wsse:Password><Organization><IPCC></Organization><Domain>DEFAULT</Domain></wsse:UsernameToken></wsse:Security></env:Header><env:Body><SessionCreateRQ><POS><Source PseudoCityCode="<IPCC>"></Source></POS></SessionCreateRQ></env:Body></env:Envelope>
    headers: 
      Soapaction: 
      - "\"OTA\""
      Content-Type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Soapaction: 
      - "\"\""
      Content-Type: 
      - text/xml;charset=utf-8
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header><eb:MessageHeader xmlns:eb="http://www.ebxml.org/namespaces/messageHeader" eb:version="1.0" soap-env:mustUnderstand="1"><eb:From><eb:PartyId eb:type="URI">webservices.sabre.com</eb:PartyId></eb:From><eb:To><eb:PartyId eb:type="URI">example.com</eb:PartyId></eb:To><eb:CPAId><IPCC></eb:CPAId><eb:ConversationId>joe@example.com</eb:ConversationId><eb:Service eb:type="sabreXML">Session</eb:Service><eb:Action>SessionCreateRS</eb:Action><eb:MessageData><eb:MessageId>bb421849-5e43-43ca-8bd7-df3d07a84db1@176</eb:MessageId><eb:Timestamp>2012-03-28T03:03:13</eb:Timestamp><eb:RefToMessageId>mid:20120327-230619@example.com</eb:RefToMessageId></eb:MessageData></eb:MessageHeader><wsse:Security xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext"><wsse:BinarySecurityToken valueType="String" EncodingType="wsse:Base64Binary">Shared/IDL:IceSess\/SessMgr:1\.0.IDL/Common/!ICESMS\/ACPCRTD!ICESMSLB\/CRT.LB!-3939152017205450364!1507387!0</wsse:BinarySecurityToken></wsse:Security></soap-env:Header><soap-env:Body><SessionCreateRS xmlns="http://www.opentravel.org/OTA/2002/11" version="1" status="Approved">	<ConversationId>joe@example.com</ConversationId></SessionCreateRS></soap-env:Body></soap-env:Envelope>
  recorded_at: Wed, 28 Mar 2012 03:06:19 GMT
- request: 
    method: get
    uri: http://wsdl-crt.cert.sabre.com/sabreXML1.0.00/tpf/TravelItineraryAddInfoLLS1.10.1RQ.wsdl
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - W/"2717-1332860540000"
      Last-Modified: 
      - Tue, 27 Mar 2012 15:02:20 GMT
      Content-Type: 
      - application/xml
    body: 
      encoding: US-AS[...]
[...]
